.upholstery-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.item-card {
  /* border: 1px solid #dee2e6; */
  border-radius: 15px;
  /* padding: 15px; */
  text-align: center;
  width: 100px !important;
  background: #fff;
  transition: 0.2s;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.item-card:hover {
  transform: scale(1.03);
}

.item-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.counter-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.counter-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  transition: 0.2s ease;
}

.counter-btn:hover {
  transform: scale(1.1);
}

.btn-plus:hover {
  background-color: #3ca100;
  color: #fff;
}

.btn-minus:hover {
  background-color: #808080;
  color: #fff;

}

.upholstery-wrapper .item-card h6 {
  line-height: 18px;
}

.upholstery-wrapper .item-card .counter-box {
  margin-top: 0 !important;
}

.counter-input {
  width: 60px;
  text-align: center;
  font-size: 1.1rem;
  border: 2px solid #dee2e6;
  border-radius: 8px;
  height: 35px;
}

.hero2-content {
  padding: 0 8px !important;
  margin-left: 0 !important;
}

.tabs {
  height: 72vh;
  min-width: 195px;
}

.nav-pills .nav-link span {
  font-weight: 300;
  font-size: 16px !important;
}

.nav-pills .nav-link:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #f8f9fa;
  color: #3ca200;
  /* border-bottom: 1px solid #3ca200; */
  width: max-content;
  border-radius: 30px
}

.container-tabs2 {
  width: 500px;
  padding: 14px 14px 71px 14px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: relative;
}

.container-tabs2-section {
  width: 480px;
  height: 500px;
  overflow-y: auto;
  padding: 10px;
}

.container-ul {
  width: 220px;
  height: 550px;
}

.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 23px;
}

.svg-box {
  padding: 0 0 0 41px;
  height: 66px;
  border-radius: 30px 0 0 30px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  /* اللون الابتدائي */
  transition: background-color 0.6s ease-in-out, border-color 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  background-color: #f8f9fa;
  /* اللون الابتدائي أبيض */

  /* تأثير سلس */
  /* حركة ناعمة جدًا */
}

.svg-box div {
  border-radius: 50%;
  position: absolute;

  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  left: 0px;

  /* اللون الابتدائي */
  transition: background-color 0.6s ease-in-out, border-color 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  background-color: #f8f9fa;
  /* اللون الابتدائي أبيض */

  /* تأثير سلس */
  /* حركة ناعمة جدًا */
  /* يجعل التغيير سلس */
}

.nav-pills .nav-link.active .svg-box {
  background-color: #3ca100;

}

.nav-pills .nav-link.active .svg-box div {

  background-color: #3ca100;
  left: 17px;


}

.nav-pills .nav-link:hover .svg-box {
  background-color: #3ca100;

}

.nav-pills .nav-link:hover .svg-box div {

  background-color: #3ca100;
  left: 17px;


}

.btn-count {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 0 8.5px;
  color: #3ca100;
}

.svg-box svg {
  background-color: #f8f9fa;
  border-radius: 50%;
  padding: 2px;
  width: 30px;
  height: 30px;

}

.btn-form {
  padding: 8px 13px !important;
}

.nav-pills .nav-link.active {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  background-color: #f8f9fa;
  color: #3ca200;
  border-bottom: 1px solid #3ca200;
  width: max-content;
}

.nav-pills .nav-link {
  color: #888
}

.accordion-button {
  height: 50px;
}

.accordion-button:not(.collapsed) {
  color: #46a40d;
  background-color: #f8f9fa;
  font-size: 18px;
  font-weight: 600;
}

.sub-title {
  font-size: 19px;
  margin-bottom: 21px;
  margin-top: 20px;
}

.form-box {
  position: relative;
  border-top: 1px solid #d1d1d1;
  padding: 28px 0 0 0;

}

.form-box div {
  position: absolute;
  top: -14px;
  left: 28px;

}

.form-box span {
  font-size: 12px;
  color: #ffffff;
  background-color: #000;
  border-radius: 14px;
  padding: 6px 10px;

}

.hero2-content-withoutbgcolor {
  background-color: #fcf9f700 !important;
}

.container-tabs-ul {
  display: flex;
  width: 720px;
  position: absolute;
  z-index: 9;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.home-img {
  z-index: 8;
}

.input-labal-box {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.input-labal-box label {
  color: #3ca200;
  font-size: 14px;
  min-width: 117px;
}

.form {

  margin: 0;
}

.selected-thumb {
  border: 3px solid green !important;
  /* الإطار الأخضر للصورة المختارة */
}

.nav-link-btn {
  padding: 0 !important;
  align-items: center
}

.nav-link-btn span {
  padding: 20px 13px 20px 0 !important;
}

/* إطار للثمبنيل المفعّل */
.thumbnails img {
  width: 120px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  transition: transform .15s;
  margin-right: .4rem;
  border-radius: 6px;
  border: 2px solid transparent;
}

.thumbnails img:hover {
  transform: translateY(-3px);
}




/* اجعل حاوية الثمبنيلات قابلة للتمرير إذا احتاج */
.thumbnails-wrapper {
  overflow-x: auto;
  padding: .4rem 0;
  white-space: nowrap;
}

.thumbnails {
  display: inline-flex;
  align-items: center;
}

.card-container {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-label {
  cursor: pointer;
}

/* اخفاء الradio input */
.card-input {
  display: none;
}

.submit-btn {
  position: absolute;
  bottom: -38px;
  width: 100%;
}

.accordions-box {
  min-height: 100%;
  position: relative;
}

/* تصميم البطاقة */
.card {
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  min-width: 86px;
  /* width: calc(25% - 6px); */
  text-align: center;
  transition: all 0.3s ease;
}

/* عند تحديد البطاقة */
.card-input:checked+.card {
  border-color: #3ca200;
  box-shadow: 0 0 10px rgba(60, 162, 0, 0.5);
  background-color: #a7a7a72e;
}



.card h3 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.card p {
  margin: 4px 0 0;
  font-size: 13px;
  font-weight: 600;
  color: #555;
}

.card:hover {
  box-shadow: 0 0 10px rgba(60, 162, 0, 0.3);
}

.form-check-input:checked {
  background-color: #3ca200;
  /* أصفر */
  border-color: #3ca200;
}

.inputMultImg {
  border: 1px solid #d1d1d1;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputs section {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.inputs section div {
  width: calc(50% - 8px);
}

.inputs span {
  font-size: 12px;
}

.imgCount {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 14px;
}

.Deuteschland {
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  background-color: #dbdbdb;
  padding: 8px;
}

.accordion-item {
  padding: 0 !important;
}

.redeem {
  display: flex;
  gap: 20px;
  width: 100%;
}

.btn-redeem {
  background-color: rgb(9, 196, 140);
}

.tabs-sidebar {

  padding: 20px 13px !important;
}

.date-container-days div:not(.no-highlight).active {
  background: #fff !important;
  color: #000 !important;
}

.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* margin-top: 100px; */
}

.counter-btn {
  padding: 3px 8px;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  transition: 0.2s ease;
}

.counter-btn:hover {
  transform: scale(1.1);
}



.container-tabs2 {
  height: 621px;
}

.counter-input {
  width: 100px;
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid #dee2e6;
  border-radius: 10px;
  height: 45px;
}

.form-select {
  height: 38.5px !important;
}

.w-30 {
  width: calc(30% - 8px) !important;
}

.w-70 {
  width: calc(70% - 8px) !important;
}

.card svg {
  margin: auto;
}

.nav-pills .nav-link span {
  width: max-content;
}

.upholstery-input {
  width: 70px !important;
  padding: 0 !important;
  height: 30px !important;
}





.upholstery-wrapper .counter-box {
  gap: 0 !important;
}

.upholstery-wrapper .item-card {
  width: 118px !important;
}

.upholstery-wrapper h6 {
  font-size: 9px;
}



.form-section {
  height: 63vh;
  position: relative;
}

.submit-form-btn {
  position: absolute;
  bottom: 16px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 12px;

}

.submit-form-btn button {
  background-color: color(srgb 0.95 0.84 0);
  border: 1px solid color(srgb 0.95 0.84 0);
  border-radius: 8px !important;
}

.submit-form-btn button:hover {
  background-color: color(srgb 0.95 0.84 0);
  border: 1px solid color(srgb 0.95 0.84 0)
}

.submit-button {
  width: calc(100% - 102px);
}

.dropdown-menu {
  padding: 0 !important;

}

.container {
  /* max-width: 720px; */
  /* margin: 0 auto */
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600
}

select {
  padding: 8px 10px;
  font-size: 16px
}

.boxes2 {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.box3 {
  min-width: 200px;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
  background: #fff;
  position: relative;
}

.hidden {
  display: none !important;
}

.box h3 {
  margin: 0 0 8px 0;
  font-size: 16px
}

/* إزالة سهم dropdown */
.no-caret::after {
  display: none;
}

/* تغيير حجم الزر */
.no-caret {
  font-size: 18px;
  padding: 6px 12px;
  /* اختياري لتناسب الحجم */
}


.btn-remove {
  background-color: red;
  border: none;
  border-radius: 3px 0 0 3px;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-remove:hover {
  background-color: white;
  border: 1px solid red;
}

/* اللون الافتراضي للأيقونة */
.delete-icon {
  fill: white;
  transition: fill 0.3s ease;
}

/* عند تحويم الزر تغير لون الأيقونة */
.btn-remove:hover .delete-icon {
  fill: red;
}


.card-container label {
  min-width: 0 !important;
}

@media (max-width: 1131px) {
  .tabs {
    height: 78vh;
  }


  .form-section {
    height: 68vh;
  }

  .tab-content-box {
    min-width: 100%;
  }

  .form-container {
    margin: 115px 43px;
  }
}

@media (max-width: 851px) {
  .form-section {
    height: 68vh;
    position: relative;
  }

  .accordion-sec {
    height: 58vh;

  }
}

@media (max-width: 768px) {
  .tabs-sidebar {
    display: flex !important;
    width: 100%;
    flex-wrap: nowrap;
    overflow: auto;
    padding-bottom: 8px !important;
  }

  .form-section {
    height: 60vh;
  }

  .accordion-sec {
    height: 58vh;

  }

  .container-tabs2 {
    width: auto;

  }

  .container-tabs2-section {
    width: 100%;

  }

  .container-tabs-ul {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .form-container {
    margin: 115px 20px;
  }

  .form-select {
    width: 100% !important;
  }

  .form-control {
    width: 100% !important;
  }

  div:has(> .form-select) {
    width: 100% !important;
    max-width: 100% !important;

  }

  div:has(> .form-control) {
    width: 100% !important;
    max-width: 100% !important;

  }


  .inputs section div {
    width: calc(100%);
  }

  .w-30 {
    width: calc(100%) !important;
  }

  .w-70 {
    width: calc(100%) !important;
  }


}

@media (max-width: 600px) {
  .submit-btn {
    flex-wrap: wrap-reverse;
  }

  .submit-form-btn button {
    width: 100% !important;
  }

  .dropdown {
    width: 100%;
  }

  .dropdown button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px auto !important;

  }

  .container-tabs2 {
    height: 707px;
  }
}
